@import url("http://fonts.cdnfonts.com/css/calibri-light");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: white;
}
input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px #2a313a inset;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #2a313a inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #999;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: #2a313a, 0 0 0 50px #2a313a inset;
  -webkit-text-fill-color: #999;
}
.App {
  background-color: #2a313a;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  font-family: "Calibri Light";
}
.home {
  /* border: 1px solid red; */
  padding: 20px;
}
.home-container {
  background-image: linear-gradient(
    to top,
    #313741,
    #323842,
    #333943,
    #343a44,
    #353b45,
    #363d46,
    #383e48,
    #394049,
    #3b424b,
    #3d444d,
    #3f464f,
    #414851
  );
  border-top: 1px solid #4c5664;
  border-radius: 5px;
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  -webkit-box-shadow: 0px 20px 25px -15px rgb(34 41 49 / 80%);
  -moz-box-shadow: 0px 20px 25px -15px rgba(34, 41, 49, 0.8);
  box-shadow: 0px 20px 25px -15px rgb(34 41 49 / 80%);
}
.error {
  background-color: red;
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}
.capcha canvas {
  margin-left: -20px;
  /* border: 1px solid red; */
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  /* background: url(../img/elements/home.png) no-repeat center; */
  -webkit-box-shadow: 0px 20px 25px -15px rgb(34 41 49 / 80%);
  -moz-box-shadow: 0px 20px 25px -15px rgba(34, 41, 49, 0.8);
  box-shadow: 0px 20px 25px -15px rgb(34 41 49 / 80%);
  margin-right: 25px;
}
.form {
  width: fit-content;
  margin: auto auto;
  background-color: #222931;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  padding: 20px;
}
.top {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white;
  width: -webkit-fill-available;
  padding-bottom: 10px;
}
.signup-form {
  width: fit-content;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  flex-direction: column;
  padding: 20px 25px;
  border-radius: 6px;
  background: #222931;
}
.signup-form .input-area {
  width: 150px;
}
.credentials {
  display: flex;
}
.captcha {
  display: flex;
}
.input-area {
  /* border: 1px solid grey; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #7e8795;
  margin: 20px 10px 10px 10px;
  background-color: #2a313a;
  border-radius: 5px;
  font-size: 14px;
  width: 200px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.login-btn {
  margin-right: 10px;
  color: white;
  background-color: orange;
  border: none;
  border: none;
  padding: 10px;
  border-radius: 3px;
  width: 100px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.signup-btn {
  margin-left: 10px;
  color: white;
  background-color: orange;
  border: none;
  padding: 10px;
  border-radius: 3px;
  width: 100px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  padding: 10px;
  /* margin-right: 50px; */
}

li {
  list-style: none;
  padding: 10px;
  font-size: 12px;
  font-family: "Calibri Light";
  white-space: nowrap;
  color: white;
}
.nav-links ul {
  display: flex;
  align-items: center;
}
.nav-links ul li:hover {
  color: #2a313a;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
.profile-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-links ul {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-links ul li {
  font-size: 12px;
}
.left-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #fff;
  font: 16px CalibriBold;
  text-transform: uppercase;
  background-image: linear-gradient(
    to top,
    #313741,
    #323842,
    #333943,
    #343a44,
    #353b45,
    #363d46,
    #383e48,
    #394049,
    #3b424b,
    #3d444d,
    #3f464f,
    #414851
  );
  border-top: 1px solid #4c5664;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px -5px rgb(32 34 36);
  -moz-box-shadow: 0px 5px 15px -5px rgba(32, 34, 36, 1);
  box-shadow: 0px 5px 15px -5px rgb(32 34 36);
  line-height: 35px;
  cursor: pointer;
  position: relative;
  margin-right: 35px;
}
.sitebar_left {
  border-radius: 6px;
  padding: 0 15px 0 25px;
  position: fixed;
  background: #222931;
  width: 390px;
  left: 15px;
  top: 115px;
  height: calc(100vh - 115px);
}
.content_sitebar {
  padding-right: 20px;
  overflow-y: scroll;
  position: relative;
  height: 100%;
}
.content_sitebar li {
  color: #ffc000;
  font-family: "Calibri Light";
  font-size: 13px;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #414851;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffc001;
}
/* .home-content {
  display: flex;
} */
.content_main {
  /* padding-right: 50px; */
  margin-left: -20px;
}
.main__title {
  color: #fff;
  font: 27px "Calibri Light";
  font-weight: bolder;
  margin: 0;
  /* line-height: 120px; */
  position: relative;
  z-index: 3;
  margin-left: 10px;
  /* letter-spacing: 3px; */
}
.text__faq {
  color: #fff;
  font: 16px "Calibri Light";
  font-weight: bold;
  line-height: 2.5;
}
.block__content {
  position: relative;
}
.home-content {
  position: relative;
  padding-left: 455px;
}
.faq-top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
input[type="text"],
input[type="password"] {
  height: 30px;
  background-color: #2a313a;
  border: none;
  font-weight: bold;
  outline: none;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border: none;
  background-color: #2a313a;
  font-size: 16px;
  outline: none;
}
input[type="text"]:active,
input[type="password"]:active {
  border: none;
  outline: none;
}
.icons {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
input {
  color: white;
}
